{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'assets/favicon.ico' type='image/x-icon' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	<!-- Used for responsive navigation bar -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(function () {
			$(".navbar").load("navbar.html");
		});
	</script>
	<title>Generator | Palette Generator | SPIS 2020</title>
</head>
<body>

	{% include "navbar.html" %}
	<div class="navbar"></div>

	{% for processImage in palette %}
	<div class="col-md-4">
		{{ processImage.name }}
		<img src="{{ processImage.palette.url }}" class="img-responsive" style="width: 50%; float: left; margin-right: 10px;" />
	</div>
	{% endfor %}
</body>
</html>