div.colors {
	margin: 50px;
	display: flex;
	background-image: linear-gradient(to right, #ffffff50, transparent);
}

div.rgb {
	background-color: rgb(255, 255, 255);
	margin-left: 20px;
	margin-left: 40px;
	width: 30px;
	height: auto;
}

.body_text {
	color: #fff;
	font-family: Montserrat;
	margin: 50px;
}

h1 {
    font-family: Arial;
    font-size: 60px;
    color: #000;
    background: #ffcb6a;
    padding: 0px 20px;
    text-transform: uppercase;
}